.DS_Store
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

.env
.env.local
.env.*.local

.next/
out/
dist/

logs
*.log
*.log.*
pids
*.pids
*.seed
*.pid.lock

Thumbs.debug

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

build/
dist/